    <div id="page">           
        <section id="header">
        <div id="header" role="banner">
        <div id="header-main" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div id="header-main-row" class="row">
                    <!-- GOV TITLE -->
                    <div class="col-sm-3 col-md-2 col-lg-2 header-main-left">
                        <a href="http://gov.bc.ca">
                        <div id="logo">
                            
                        </div>   </a>               
                        
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-6 hidden-xs">
                        <div class="bcgov-title">
                            <h1>Security News Portal</h1>
                        </div>
                    </div>                   
                </div>
            </div>                      
        </div>
    </div>              
        </section>          
      
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <section id="leftbar" >
                    {{page.leftbar}}
                </section>
            </div>
            <div class="col-lg-7">
                <section id="content">                   
                
                    
                    {{ page.content }}                      
            
        
                </section>
                <section id="feedback">
                    {{page.feedback}}
                </section>

            </div>
        </div>
   </div>

   <section id="feedback">
       
   </section>
      
        
        <footer id="footer" role="contentinfo">
        <img class="back-to-top" style="display: inline;">
        <div id="footerWrapper">
            <div id="footerAdminSection">
                <div id="footerAdminLinksContainer" class="container">
                    <div id="footerAdminLinks" class="row">
                        <ul class="inline">
                            <li>
                                <a href="#" target="_self">Home</a>
                            </li>
                            <li>
                                <a href="#" target="_self">About this site</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/disclaimer/" target="_self">Disclaimer</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/privacy/" target="_self">Privacy</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/webaccessibility/" target="_self">Accessibility</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/copyright" target="_self">Copyright</a>
                            </li>
                            <li>
                                <a href="#" target="_self">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        
      
</div>
    
