<!-- src files -->

<script src="./themes/bcgovtheme/js/misc.js"></script>
<script src="./themes/bcgovtheme/js/navMenu.js"></script>
<script src="./themes/bcgovtheme/js/headerFooter.js"></script>


<script	src="/themes/bcgovtheme/js/jquery/jquery-1.11.1.min.js"></script>
<script	src="/themes/bcgovtheme/js/jquery/jquery-ui.min.js"></script>
<script	src="./themes/bcgovtheme/js/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script src="./themes/bcgovtheme/js/misc.js?"></script>

<!--end src files -->

 <section id="main">
 <!-- header-->
 {{ page.header }}
		<div id="header-main" class="navbar navbar-default navbar-fixed-top">
			<!--  Display Notifications Message Bar - RA-55 - Danger, Info or Success -->
			<div class="container">
				<div id="header-main-row1" class="row">
					<div class="header-main-left">
						<div id="logo" role="banner">
							<a href="https://www2.gov.bc.ca/gov/content/home"><img
								src="./themes/bcgovtheme/images/bc_gov_logo_transparent.png"
								alt="Government of B.C." title="Government of B.C." /></a>
						</div>
						<div id="access">
							<ul>
								<li aria-label="Skip to main content"><a
									href="#main-content-anchor">Skip to main content</a></li>
								<li aria-label="Skip to main navigation"><a
									href="#header-links" onclick="window.scrollTo(0,0);">Skip
										to main navigation</a></li>
								<li aria-label="Accessibility Statement"><a
									href="https://www2.gov.bc.ca/gov/content/accessibility">Accessibility
										Statement</a></li>
							</ul>
						</div>
					</div>

					<div class="navbar-header">
						<!-- Display Notifications Icon - RA-55 - Danger, Info or Success -->
						<button data-target="#header-main-row2" data-toggle="collapse"
							class="menu-button navbar-toggle mini-menu-trigger" type="button"
							aria-expanded="true" aria-label="Burger Navigation"></button>
						<button data-target="#header-search" data-toggle="collapse"
							class="search-button navbar-toggle mini-menu-trigger glyphicon glyphicon-search"
							type="button" aria-expanded="true"
							aria-label="Mobile Search Show Button"></button>
					</div>
				</div>

				<div id="header-main-row2" class="row navbar-collapse collapse">
					<!-- Display Notifications Icon - RA-55 - Danger, Info or Success -->
					<a class="header-button hidden-xs" id="searchButton"
						data-toggle="collapse" data-target="#header-search" tabindex="0">
						<span class="glyphicon glyphicon-search"></span>
					</a> <a class="header-button menu-button hidden-xs"
						id="govNavMenuToggle" tabindex="0"> <img
						src="./themes/bcgovtheme/images/menu-ico-sm.png"
						title="Menu" alt="Menu" /> <span>Menu</span>
					</a>
					<div id="govNavMenu" class="hidden">

						<div id="header-links" role="navigation">
							<ul>
								<li id="replicantData_90ACCB09540A4FF3B65B5B52EA115802"
									data-order="0"><a
									href="https://www2.gov.bc.ca/gov/content/careers-myhr"
									target="_self" tabindex="0">Careers & MyHR</a></li>
								<li id="replicantData_C55AC040D74F4A51A47D75BDB2371256"
									data-order="1"><a
									href="https://www2.gov.bc.ca/gov/content/home/services-a-z"
									target="_self" tabindex="0">Services A-Z</a></li>
								<li id="replicantData_0198598E0CB947648ED30C3CF56C9951"
									data-order="2"><a
									href="https://www2.gov.bc.ca/gov/content/home/organizations-a-z"
									target="_self" tabindex="0">Organizations A-Z</a></li>
								<li id="replicantData_451F364B8E104B39B2D0B7802832168D"
									data-order="3"><a
									href="https://www2.gov.bc.ca/gov/content/home/forms-a-z"
									target="_self" tabindex="0">Forms A-Z</a></li>
								<li id="replicantData_57EF1691C18741BF9EF0A99FDFE1D7D6"
									data-order="4"><a href="https://news.gov.bc.ca/"
									target="_self" tabindex="0">News</a></li>
								<li id="replicantData_2A1C50FD421A499C849E8D0CFBCEB1A2"
									data-order="5"><a
									href="https://www2.gov.bc.ca/gov/content/home/contact-us"
									target="_self" tabindex="0">Contact Us</a></li>
							</ul>
						</div>


						<nav class="govNav" id="govMainMenu">
							<ul class="firstLevel nav navbar-nav">
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/life-events">
										Birth, Adoption, Death, Marriage & Divorce</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_281">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 281)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_3_collection</span> <span
																class="client">theme_3_frontend</span> <input
																type="hidden" name="id"
																value="37BDCD618E4744998F9385A3F3248A06">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_281"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Birth, Adoption, Death, Marriage & Divorce issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_births.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_281" class="menu_suggestion_form">
											<input aria-label="Search theme_3_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 281)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_3_collection</span> <span
													class="client">theme_3_frontend</span> <input type="hidden"
													name="id" value="37BDCD618E4744998F9385A3F3248A06">
											</div>
											<table id="menu_search_suggest_281"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Birth, Adoption, Death, Marriage
											&amp; Divorce</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_90CA4E68AA484987B5B74587FB5B0764">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/birth-adoption">Birth
													&amp; Adoption</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/marriage">Marriage</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/death">Death</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/divorce">Separation
													&amp; Divorce</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/legal-changes-of-name">Legal
													Changes of Name</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/statistics-reports">Statistics
													&amp; Reports</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/life-events/order-certificates-copies">Order
													Certificates &amp; Copies</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/governments">
										British Columbians & Our Governments</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_302">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 302)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_1_collection</span> <span
																class="client">theme_1_frontend</span> <input
																type="hidden" name="id"
																value="401A7ECBB734485FA6AF857F78DD4363">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_302"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="British Columbians & Our Governments issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_britishcolumbians.png')"
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_302" class="menu_suggestion_form">
											<input aria-label="Search theme_1_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 302)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_1_collection</span> <span
													class="client">theme_1_frontend</span> <input type="hidden"
													name="id" value="401A7ECBB734485FA6AF857F78DD4363">
											</div>
											<table id="menu_search_suggest_302"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">British Columbians &amp; Our
											Governments</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_1BCDDAA9ED30487784F29ADC800E5DCB">
											<li><a class="current"
												href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure">Organizational
													Structure</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/about-the-bc-government">Initiatives,
													Plans &amp; Strategies</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/government-id">Government
													ID</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/indigenous-people">Indigenous
													People</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/services-for-government">Services
													&amp; Policies for Government</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/multiculturalism-anti-racism">Multiculturalism
													&amp; Anti-Racism</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/celebrating-british-columbia">Celebrating
													British Columbia</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/local-governments">Local
													Governments</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/governments/finances">Government
													Finances</a> <span class="no-trigger visible-xs-block"></span>
											</li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/data"> Data</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_357">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 357)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_data_collection</span> <span
																class="client">data_frontend</span> <input type="hidden"
																name="id" value="3BABFFCCDAC74CDDBB56C987DDF4AD04">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_357"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Data issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_data.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_357" class="menu_suggestion_form">
											<input aria-label="Search theme_data_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 357)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_data_collection</span> <span
													class="client">data_frontend</span> <input type="hidden"
													name="id" value="3BABFFCCDAC74CDDBB56C987DDF4AD04">
											</div>
											<table id="menu_search_suggest_357"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Data</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_1AE507FCE6A943199E9D2F8A7748B2B5">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/data/bc-data-catalogue">B.C.
													Data Catalogue</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/data/statistics">Statistics</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/data/geographic-data-services">Geographic
													Data</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/data/open-data">Open
													Data</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/data/about-data-management">Data
													Management in B.C.</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/transportation">
										Driving & Transportation</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_383">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 383)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_5_collection</span> <span
																class="client">theme_5_frontend</span> <input
																type="hidden" name="id"
																value="B183E708FB894403AE4914B67D5FCB31">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_383"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Driving & Transportation issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_driving.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_383" class="menu_suggestion_form">
											<input aria-label="Search theme_5_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 383)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_5_collection</span> <span
													class="client">theme_5_frontend</span> <input type="hidden"
													name="id" value="B183E708FB894403AE4914B67D5FCB31">
											</div>
											<table id="menu_search_suggest_383"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Driving &amp; Transportation</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_A7B3531E17F34FE9AF2B5553E2BE212A">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/driving-and-cycling">Driving
													&amp; Cycling</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/passenger-travel">Passenger
													Travel</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement">Vehicle
													Safety &amp; Enforcement</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/funding-engagement-permits">Funding,
													Engagement &amp; Permits</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/transportation-infrastructure">Transportation
													Infrastructure</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/transportation-reports-and-reference">Transportation
													Reports &amp; Reference</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/transportation/transportation-environment">Transportation
													&amp; the Environment</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/education-training">
										Education & Training</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_395">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 395)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_4_collection</span> <span
																class="client">theme_4_frontend</span> <input
																type="hidden" name="id"
																value="84131A7374544958A7C2832226CC8A81">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_395"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Education & Training issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_education.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_395" class="menu_suggestion_form">
											<input aria-label="Search theme_4_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 395)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_4_collection</span> <span
													class="client">theme_4_frontend</span> <input type="hidden"
													name="id" value="84131A7374544958A7C2832226CC8A81">
											</div>
											<table id="menu_search_suggest_395"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Education &amp; Training</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_205DE48374094784A6B7202B9614CD69">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/early-learning">Early
													Learning</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/k-12">Kindergarten
													to Grade 12</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/post-secondary-education">Post-secondary
													Education</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/adult-education">Adult
													Education</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/ways-to-learn">Ways
													to Learn</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/administration">Administration</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/education-training/job-career-training">Job
													&amp; Career Training</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/employment-business">
										Employment, Business & Economic Development</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_421">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 421)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_13_collection</span> <span
																class="client">theme_13_frontend</span> <input
																type="hidden" name="id"
																value="2F755F92ED224D02AD29E2EDA5EA0328">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_421"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Employment, Business & Economic Development issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_employment.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_421" class="menu_suggestion_form">
											<input aria-label="Search theme_13_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 421)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_13_collection</span> <span
													class="client">theme_13_frontend</span> <input
													type="hidden" name="id"
													value="2F755F92ED224D02AD29E2EDA5EA0328">
											</div>
											<table id="menu_search_suggest_421"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Employment, Business &amp; Economic
											Development</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_820A75B4A1AF426C9450E4ADF0D1D783">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/business">Business</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/job-seekers-employees">Job
													Seekers &amp; Employees</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/employers">Employers</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/employment-standards-advice">Employment
													Standards &amp; Workplace Safety</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/economic-development">Economic
													Development</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/international-investment-and-trade">International
													Investment &amp; Trade</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/employment-business/investment-capital">Investment
													Capital</a> <span class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/environment">
										Environmental Protection & Sustainability</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_438">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 438)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_11_collection</span> <span
																class="client">theme_11_frontend</span> <input
																type="hidden" name="id"
																value="CC87D3202359407F8A5C1DBEADC22A0F">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_438"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Environmental Protection & Sustainability issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_environment.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_438" class="menu_suggestion_form">
											<input aria-label="Search theme_11_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 438)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_11_collection</span> <span
													class="client">theme_11_frontend</span> <input
													type="hidden" name="id"
													value="CC87D3202359407F8A5C1DBEADC22A0F">
											</div>
											<table id="menu_search_suggest_438"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Environmental Protection &amp;
											Sustainability</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_8C53E2851B294D8AA18340E4C6A54D7D">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/climate-change">Climate
													Change</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/pesticides-pest-management">Pesticides
													&amp; Pest Management</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/plants-animals-ecosystems">Plants,
													Animals &amp; Ecosystems</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/waste-management">Waste
													Management</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/air-land-water">Air,
													Land &amp; Water</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/research-monitoring-reporting">Research,
													Monitoring &amp; Reporting</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship">Natural
													Resource Stewardship</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/family-social-supports">
										Family & Social Supports</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_450">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 450)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_15_collection</span> <span
																class="client">theme_15_frontend</span> <input
																type="hidden" name="id"
																value="C2674D9D2EE3408FBE2D43FAD6893DBD">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_450"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Family & Social Supports issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_familysocial.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_450" class="menu_suggestion_form">
											<input aria-label="Search theme_15_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 450)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_15_collection</span> <span
													class="client">theme_15_frontend</span> <input
													type="hidden" name="id"
													value="C2674D9D2EE3408FBE2D43FAD6893DBD">
											</div>
											<table id="menu_search_suggest_450"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Family &amp; Social Supports</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_FD488413D1B74C5B931B2F6B0E00C61D">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/seniors">Seniors</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/income-assistance">Income
													Assistance</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/services-for-people-with-disabilities">Services
													for People with Disabilities</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/caring-for-young-children">Caring
													for Young Children</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/fostering">Fostering</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/youth-and-family-services">Youth
													&amp; Family Services</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/borrowing-money">Borrowing
													Money</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/family-social-supports/data-monitoring-quality-assurance">Data,
													Monitoring &amp; Quality Assurance</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/industry">
										Farming, Natural Resources & Industry</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_460">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 460)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_12_collection</span> <span
																class="client">theme_12_frontend</span> <input
																type="hidden" name="id"
																value="EA290C5F07E04D849502A930F680EA7F">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_460"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Farming, Natural Resources & Industry issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_farmingindustry.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_460" class="menu_suggestion_form">
											<input aria-label="Search theme_12_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 460)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_12_collection</span> <span
													class="client">theme_12_frontend</span> <input
													type="hidden" name="id"
													value="EA290C5F07E04D849502A930F680EA7F">
											</div>
											<table id="menu_search_suggest_460"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Farming, Natural Resources &amp;
											Industry</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_A389E49687F74532A306249A234EDF29">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/agriculture-seafood">Agriculture
													&amp; Seafood</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/construction-industry">Construction
													Industry</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/electricity-alternative-energy">Electricity
													&amp; Alternative Energy</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/forestry">Forestry</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining">Mineral
													Exploration &amp; Mining</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/natural-gas-oil">Natural
													Gas &amp; Oil</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/industry/natural-resource-use">Natural
													Resource Use</a> <span class="no-trigger visible-xs-block"></span>
											</li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/health"> Health</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_491">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 491)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_2_collection</span> <span
																class="client">theme_2_frontend</span> <input
																type="hidden" name="id"
																value="19E4894872F646948A1C7E4D8CE73863">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_491"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Health issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_health.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_491" class="menu_suggestion_form">
											<input aria-label="Search theme_2_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 491)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_2_collection</span> <span
													class="client">theme_2_frontend</span> <input type="hidden"
													name="id" value="19E4894872F646948A1C7E4D8CE73863">
											</div>
											<table id="menu_search_suggest_491"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Health</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_EC75FD2ECA044D2C9CCB32361905348A">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/about-bc-s-health-care-system">About
													B.C.&#039;s Health Care System</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/accessing-health-care">Accessing
													Health Care</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/health-drug-coverage">Health
													&amp; Drug Coverage</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/managing-your-health">Managing
													Your Health</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/keeping-bc-healthy-safe">Keeping
													B.C. Healthy &amp; Safe</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/conducting-health-research-evaluation">Conducting
													Health Research &amp; Evaluation</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/health-forms">Health
													Forms</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/health/practitioner-professional-resources">Practitioner
													&amp; Professional Resources</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/housing-tenancy">
										Housing & Tenancy</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_499">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 499)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_9_collection</span> <span
																class="client">theme_9_frontend</span> <input
																type="hidden" name="id"
																value="B2F6526DAAF848A5A45CED4CF8B44509">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_499"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Housing & Tenancy issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_housing.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_499" class="menu_suggestion_form">
											<input aria-label="Search theme_9_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 499)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_9_collection</span> <span
													class="client">theme_9_frontend</span> <input type="hidden"
													name="id" value="B2F6526DAAF848A5A45CED4CF8B44509">
											</div>
											<table id="menu_search_suggest_499"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Housing &amp; Tenancy</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_981982BEA20341FB81B611675492A653">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/residential-tenancies">Residential
													Tenancies</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/strata-housing">Strata
													Housing</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home">Owning
													a Home</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/seniors-housing">Seniors
													Housing</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/affordable-and-social-housing">Affordable
													and Social Housing</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/local-governments-and-housing">Local
													Governments and Housing</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/building-or-renovating">Building
													or Renovating</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/housing-tenancy/buying-and-selling">Buying
													&amp; Selling</a> <span class="no-trigger visible-xs-block"></span>
											</li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/justice"> Law,
										Crime & Justice</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_503">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 503)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_7_collection</span> <span
																class="client">theme_7_frontend</span> <input
																type="hidden" name="id"
																value="2C2D870D983944B5B7EE026C36963D11">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_503"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Law, Crime & Justice issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_lawcrime.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_503" class="menu_suggestion_form">
											<input aria-label="Search theme_7_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 503)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_7_collection</span> <span
													class="client">theme_7_frontend</span> <input type="hidden"
													name="id" value="2C2D870D983944B5B7EE026C36963D11">
											</div>
											<table id="menu_search_suggest_503"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Law, Crime &amp; Justice</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_24EEB3C6DAAE49B5AA4EB916CF5C930F">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system">About
													B.C.&#039;s Justice System</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/justice/criminal-justice">Criminal
													Justice</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/justice/human-rights">Human
													Rights</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services">Courthouse
													Services</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/justice/for-legal-professionals">For
													Legal Professionals</a> <span
												class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/safety"> Public
										Safety & Emergency Services</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_538">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 538)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_6_collection</span> <span
																class="client">theme_6_frontend</span> <input
																type="hidden" name="id"
																value="80CC1FB1480D4F59B28322CBE2927585">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_538"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Public Safety & Emergency Services issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_publicsafety.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_538" class="menu_suggestion_form">
											<input aria-label="Search theme_6_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 538)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_6_collection</span> <span
													class="client">theme_6_frontend</span> <input type="hidden"
													name="id" value="80CC1FB1480D4F59B28322CBE2927585">
											</div>
											<table id="menu_search_suggest_538"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Public Safety &amp; Emergency
											Services</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_B1756B8E482543338B861392B8615439">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/safety/public-safety">Public
													Safety</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/safety/crime-prevention">Crime
													Prevention</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery">Emergency
													Preparedness, Response &amp; Recovery</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status">Wildfire
													Service</a> <span class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/sports-culture">
										Sports, Recreation, Arts & Culture</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_542">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 542)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_10_collection</span> <span
																class="client">theme_10_frontend</span> <input
																type="hidden" name="id"
																value="3610728B0FC142458338578D37774BE8">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_542"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div
										class="Sports, Recreation, Arts & Culture issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_sportsrec.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_542" class="menu_suggestion_form">
											<input aria-label="Search theme_10_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 542)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_10_collection</span> <span
													class="client">theme_10_frontend</span> <input
													type="hidden" name="id"
													value="3610728B0FC142458338578D37774BE8">
											</div>
											<table id="menu_search_suggest_542"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Sports, Recreation, Arts &amp;
											Culture</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_7E0910AE24054217AFE2E62D117A2687">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/sports-culture/sports">Sports</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/sports-culture/recreation">Recreation</a>
												<span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/sports-culture/arts-culture">Arts
													&amp; Culture</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/sports-culture/events-hosting">Event
													Hosting</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/sports-culture/gambling-fundraising">Gambling
													&amp; Fundraising</a> <span class="no-trigger visible-xs-block"></span>
											</li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/taxes"> Taxes &
										Tax Credits</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_553">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 553)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_8_collection</span> <span
																class="client">theme_8_frontend</span> <input
																type="hidden" name="id"
																value="364A046E32874A31B702AC4357032A64">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_553"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Taxes & Tax Credits issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_taxes.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_553" class="menu_suggestion_form">
											<input aria-label="Search theme_8_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 553)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_8_collection</span> <span
													class="client">theme_8_frontend</span> <input type="hidden"
													name="id" value="364A046E32874A31B702AC4357032A64">
											</div>
											<table id="menu_search_suggest_553"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Taxes &amp; Tax Credits</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_32D3378678624AF8A905FEE82427C82F">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/sales-taxes">Sales
													Taxes</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/income-taxes">Income
													Taxes</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/property-taxes">Property
													Taxes</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/natural-resource-taxes">Natural
													Resource Taxes</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/insurance-taxes">Insurance
													Taxes</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/employer-health-tax">Employer
													Health Tax</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/audit-ruling-appeal">Tax
													Audits, Rulings &amp; Appeals</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/etaxbc">Using
													eTaxBC Online Services</a> <span
												class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/taxes/tax-changes">Tax
													Changes</a> <span class="no-trigger visible-xs-block"></span></li>
										</ul>
									</div></li>
								<!-- Output subtheme navigation links only if this is a theme page or deeper -->

								<li class="hassub clearfix"><a
									href="https://www2.gov.bc.ca/gov/content/tourism-immigration">
										Tourism & Immigration</a>
									<div class="mobile-menu-search">
										<div class="homepage-tile">
											<div class="tile-content">
												<span class="tile-search glyphicon glyphicon-search"></span>
												<div class="tile-search-flyout">
													<form action="https://www2.gov.bc.ca/gov/search"
														method="get" id="mobile_menu_search_form_560">
														<input name="q" aria-label="Search default_collection"
															class="mobile-menu-searchbox placeholder" type="text"
															autocomplete="off"
															onkeyup="searchBoxKeypress(event, 50, 560)" />
														<div class="hiddenVals" style="display: none">
															<span class="site">theme_14_collection</span> <span
																class="client">theme_14_frontend</span> <input
																type="hidden" name="id"
																value="9DF0542A58C34D15829D07C5CD4286AC">
														</div>
													</form>
												</div>
											</div>
											<table id="mobile_menu_search_suggest_560"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</div>
									</div> <span class="level-trigger"></span>

									<div class="Tourism & Immigration issub theme-menu"
										style="background-image: url('./themes/bcgovtheme/images/theme/menu/thememenu_tourism.png')">
										<form action="https://www2.gov.bc.ca/gov/search" method="get"
											id="menu_suggestion_form_560" class="menu_suggestion_form">
											<input aria-label="Search theme_14_collection" name="q"
												class="searchbox menu-searchbox form-control placeholder"
												type="text" autocomplete="off"
												onkeyup="searchBoxKeypress(event, 50, 560)" />
											<div class="search-trigger"></div>
											<div class="hiddenVals" style="display: none">
												<span class="site">theme_14_collection</span> <span
													class="client">theme_14_frontend</span> <input
													type="hidden" name="id"
													value="9DF0542A58C34D15829D07C5CD4286AC">
											</div>
											<table id="menu_search_suggest_560"
												style="visibility: hidden;" class="ss-gac-m"></table>
										</form>
										<h2 class="hidden-xs">Tourism &amp; Immigration</h2>
										<ul class="secondLevel childMenu nav navbar-nav"
											id="child_D6E183CFBFED46B282F80342BA3F69D0">
											<li><a
												href="https://www2.gov.bc.ca/gov/content/tourism-immigration/immigrating-to-bc">Immigrating
													to B.C.</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/tourism-immigration/new-residents">New
													Residents</a> <span class="no-trigger visible-xs-block"></span>
											</li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/tourism-immigration/travel">Travelling
													in B.C.</a> <span class="no-trigger visible-xs-block"></span></li>
											<li><a
												href="https://www2.gov.bc.ca/gov/content/tourism-immigration/tourism-resources">Tourism
													Resources</a> <span class="no-trigger visible-xs-block"></span>
											</li>
										</ul>
									</div></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<div id="header-search" class="collapse">
				<div class="container">
					<form class="" method="get"
						action="https://www2.gov.bc.ca/gov/search" id="suggestion_form"
						role="search">
						<label style="display: none;" for="global-search">Search</label> <input
							type="hidden" value="2E4C7D6BCAA4470AAAD2DCADF662E6A0" name="id">
						<input type="text" onkeyup="searchBoxKeypress(event, 50)"
							autocomplete="off" value="" name="q"
							placeholder="Search gov.bc.ca" class="searchbox"
							id="global-search" aria-label="Search Bar">
						<div class="hiddenVals" style="display: none">
							<span class="site">default_collection</span> <span class="client">default_frontend</span>
						</div>
						<table id="search_suggest" class="search-suggestion-full ss-gac-m"></table>
						<div class="search-trigger glyphicon glyphicon-search"></div>
					</form>
				</div>
			</div>

		</div>

	</div>

	<script>
		if (readCookie("hideNotificationMessageBar") == "true") {
			hideNotificationMessageBar();
		} else {
			showNotificationMessageBar();
		}
	</script>

	<!-- googleon:all -->
	<div id="topicTemplate" class="template container"
		style="padding-top: 71px; background-position: right 71px;">

		<!-- googleoff:all -->
		<div id="breadcrumbContainer" role="navigation">
			<ol class="breadcrumb ">
				<li><a href="https://www2.gov.bc.ca/gov/content/home">Home</a></li>
			</ol>
		</div>
		<!-- googleon:all -->

		<div class="row yes" lang="en">
			<div class="printHeader">
				<div class="printHeader">
					<a href="https://www2.gov.bc.ca/gov/content/home"> <img
						src="./themes/bcgovtheme/images/bc_gov_logo_colour_print.png"
						alt="Government of B.C." title="Government of B.C.">
					</a>
				</div>
				<br>
				<br>
			</div>

 <!-- end header -->
 
 
 
 
 
    <div class="container">
      <div class="row">
          <div id="content" class="col-md-9 col-sm-9 col-xs-12">
              {{ page.content }}
          </div>
              {% if page.sidebar %}
          <aside id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
               {{ page.sidebar}}
          </aside>
               {% endif %}
      </div>
    </div>
	   <div id="footer" class="back-to-top footer-overlap">
                 

<div id="footerAdminSection">
				<div id="footerAdminLinksContainer" class="container">
					<div id="footerAdminLinks" class="row">
						<ul class="inline">
							<li id="replicantData_64BB7AFB6346453E96CF3F8EFE745151"
								data-order="0"><a
								href="https://www2.gov.bc.ca/gov/content/home" target="_self"
								tabindex="0">Home</a></li>
							<li id="replicantData_E65457FFB5BF4A589E1291B94B989557"
								data-order="1"><a
								href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca"
								target="_self" tabindex="0">About gov.bc.ca</a></li>
							<li id="replicantData_2E18DFD9524A4C95A9601ABF261EC70E"
								data-order="2"><a
								href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
								target="_self" tabindex="0">Disclaimer</a></li>
							<li id="replicantData_F960821F16BB43799D89D309EB9C1318"
								data-order="3"><a
								href="https://www2.gov.bc.ca/gov/content/home/privacy"
								target="_self" tabindex="0">Privacy</a></li>
							<li id="replicantData_0123F79F761A47EDB9B7DE8FE4EB591A"
								data-order="4"><a
								href="https://www2.gov.bc.ca/gov/content/home/accessibility"
								target="_self" tabindex="0">Accessibility</a></li>
							<li id="replicantData_68A5C36D97E445EDB9C87F10D9C3472F"
								data-order="5"><a
								href="https://www2.gov.bc.ca/gov/content/home/copyright"
								target="_self" tabindex="0">Copyright</a></li>
							<li id="replicantData_5C329F040B414B62A8802DFC7072C39E"
								data-order="6"><a
								href="https://www2.gov.bc.ca/gov/content/home/contact-us"
								target="_self" tabindex="0">Contact Us</a></li>
							<!-- viewport toggle - set view port cookie and reload current page -->
							<li class="mobileToggle  hidden-lg hidden-md"><a
								target="_self" href="javascript:location.reload();"
								onClick="document.cookie = 'forseLargeViewport=true; path=/';">Desktop
									View</a></li>
						</ul>
					</div>
				</div>
			</div>
<div>
		  
  </section>